<!DOCTYPE html>

<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/css/styles.css">
    <title>KEEPME</title>

  </head>

  <body>

    <nav>
      
      <%- include('./partials/nav.ejs') %>

    </nav>

    <header>
      
    <h1>KEEPME</h1>

    </header>
    
    <div id="bg"></div>
    
    <h1 class="title">WHAT A DAY!</h1>

    <Main>
      

      <article id="days">
        <p style="margin: -10px 0 50px 60px;">date</p>
        <h1>Tuesday</h1>
      </article>

      <article id="days">
        <p style="margin: -10px 0 50px 95px;">date</p>
        <h1>Wednesday</h1>
      </article>

      <article id="days">
        <p style="margin: -10px 0 50px 75px;">date</p>
        <h1>Thursday</h1>
      </article>

      
      <% games.forEach(game => { %>
  
      <article id="g1">
  
        <p style="margin: 0;"><%=game.gameTime; %></p>
  
        <h2 style="margin: 0; font-size: 30px;"><a href="/games/<%=game._id; %>"> <%=game.teamName; %></a></h2>
  
        <p style="margin: 0; font-size: 20px;"><%=game.teamColor; %> | <%=game.gameField; %></p>
  
        <a href="/games/<%=game._id %>/edit">e</a>
  
         <form action="/games/<%= game._id %>?_method=DELETE" method="POST">
          <input type="submit" value="sub out" />
        </form>
  
          <% }) %>

          
        </article>

        
      </Main>
      
      <article id="addGame">
  
        <a href="/new">Add Game</a>
  
      </article>
    
    


    <footer>
      Copyright &copy; KEEPME <span id="year"></span> All Rights Reserved
    </footer>

  </body>
  
</html>