<!DOCTYPE html>

<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/css/styles.css">
    <title>KEEPME</title>

  </head>

  <body>

    <nav>
      
      <%- include('./partials/nav.ejs') %>

    </nav>

    <header>
      
    <h1>KEEPME</h1>

    </header>
    
    <div id="bg"></div>
    
    <h1 id="title">DAYS</h1>
    <Main>
      

      <article id="days">
        <p>date</p>
        <h3>Tuesday</h3>
      </article>

      <article id="days">
        <p>date</p>
        <h3>Wednesday</h3>
      </article>

      <article id="days">
        <p>date</p>
        <h3>Thursday</h3>
      </article>

      
    </Main>
    
    <article id="addGame">

      <a href="/new">Add Game</a>

    </article>

    <article id="g1">

      
        <% games.forEach(game => { %>
        <p><a href="/games/<%=game._id; %>"> <%=game.teamName; %></a></p>
        <p><%=game.teamColor; %></p>
        <p><%=game.gameField; %></p>
        <a href="/new">+</a>
        <a href="/games/<%=game._id %>/edit">e</a>

        <form action="/games/<%= game._id %>?_method=DELETE" method="POST">
          <input type="submit" value="x" />
        </form>
        <% }) %>
      
    </article>

    <footer>
      Copyright &copy; KEEPME <span id="year"></span> All Rights Reserved
    </footer>

  </body>
  
</html>