<!DOCTYPE html>

    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/css/styles.css">
        <title>Document</title>

    </head>

    <body>

        <nav>

            <a href="/"><</a>
  
        </nav>

        <header>
      
            <h1>KEEPME</h1>
        
        </header>
            
        <div id="bg"></div>

        <h1 class="title">Today we dance.</h1>

        <Main>
      

            <article id="days">
              <p style="margin: -10px 0 50px 60px;">date</p>
              <h1 style=" color: #8CD46F;">Tuesday</h1>
            </article>
      
            <article id="days">
              <p style="margin: -10px 0 50px 95px;">date</p>
              <h1 style=" color: #8CD46F;">Wednesday</h1>
            </article>
      
            <article id="days">
              <p style="margin: -10px 0 50px 75px;">date</p>
              <h1 style="color: #8CD46F; ">Thursday</h1>
            </article>
      
            
            <article id="g1">
    
            <h1 style="margin-top: -10px; color: #8CD46F;"><%=game.teamName; %></h1>
            <p style="margin: -5px 0 15px 0;"><%=game.teamCaptain; %></p>
            <p style="margin: -10px 0 15px 0;"><%=game.teamColor; %></p>
            <p style="margin: -10px 0 15px 0;"><%=game.division; %></p>
            <p style="margin: -10px 0 15px 0;"><%=game.gameTime; %></p>
            <p style="margin: -10px 0 15px 0;"><%=game.gameField; %></p>
    
            </article>

        </Main>


        <footer>
          Copyright &copy; KEEPME <span id="year"></span> All Rights Reserved
        </footer>
        
    </body>

</html>